.header {
  background-color: #3e4650;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  margin: 0;
}

.nav {
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin: 0 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav a:hover {
  color: #d1d5db;
}

.menuButton {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3e4650;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0; /* Start closed */
  }

  .nav.open {
    max-height: 300px; /* Adjust based on your needs */
  }

  .menuButton {
    display: block; /* Show menu button on mobile */
  }

  .navList {
    flex-direction: column;
    width: 100%;
  }

  .navItem {
    margin: 1rem 0;
    text-align: center;
  }
}
