.featuresContainer {
  display: flex;
  gap: 1.5rem;
  margin: 5rem 0;
  align-items: flex-start; /* Alinhamento dos itens no topo */
}

.featureItem {
  /* Um wrapper para cada item */
  flex: 1; /* Faz com que cada item ocupe o mesmo espaço */
  min-height: 300px; /* Defina uma altura mínima para os itens */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que o conteúdo fique alinhado no topo */
}

.title {
  margin-bottom: 1rem; /* Espaçamento entre o título e o conteúdo */
}

.image {
  width: 100%;
  height: 250px;
  background-color: #eef1f6;
}

/* Media query para telas com largura de 768px ou mais */
@media (max-width: 768px) {
  .featuresContainer {
    text-align: center;
    flex-direction: column; /* Muda o layout para coluna */
  }

  .featureItem {
    width: 100%; /* Garante que cada item ocupe a largura total */
  }
}
